@use '~@angular/material' as mat;

@import 'libs/shared/styles/colors';

@include mat.core();
@include mat.all-component-themes($light-theme);

// RESET
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}

.light-theme {
  color: $dark-primary-text;
  background-color: $light-theme-background;
}

.error-msg {
  color: map-get($light-theme-warn-palette, 700);
}

.icon-fav {
  vertical-align: middle;
  color: map-get(mat.$pink-palette, 700);
}

/*
  Custom material components overrides
*/
.mat-form-field-wrapper {
  padding-bottom: 0;
}

/*
 Custom material component variants
*/
.field-slim {
  &.mat-form-field-appearance-outline {

    .mat-form-field-wrapper {
      padding: 0;
    }

    .mat-form-field-infix {
      padding: 0.5rem;

      .mat-input-element::placeholder {
        color: $light-primary-text;
      }

      .mat-form-field-label-wrapper {
        top: -1rem;
      }
    }


    &.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
      transform: translateY(-1rem) scale(0.75);
    }
  }
}
