@use '~@angular/material' as mat;

@import "libs/shared/styles/colors";

@include mat.core();
@include mat.all-component-themes($light-theme);


// RESET
html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.light-theme {
  color: $dark-primary-text;
  background-color: $light-theme-background;
}
